* {
  margin: 0;
}

/* === CUSTOM LIST === */
.list {
  list-style-position: outside;
}

.list > li {
  list-style-image: url(./public/custom_list.svg);
  
}

.list > li > span{
  position: relative;
  left: 10px;
}

/* Testimonial List */
.splide__pagination {
  display: inline-flex;
  align-items: center;
  width: 95%;
  flex-wrap: wrap;
  justify-content: center;
  margin: -40px auto;
}

.splide__pagination__page.is-active {
  transform: scale(1.4);
  background: blue;
}

/* === CUSTOM BACKGROUND === */
.custom-blue {
  background-color: #F1F3FF;
}

/* === CUSTOM BUTTON === */
.btn {
  width: 100%;
}

/* === CUSTOM IMAGE === */
.img-car {
  width: 300px;
}

.img-woman {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.img-testimonial {
  width: 80px;
  height: 80px
}

.rate {
  width: 80px;
  height: 16px;
  margin-bottom: 5px;
}

/* === CUSTOM CARD === */
.custom-card {
  width: 100%;
}

/* === RESPONSIVE === */
@media only screen and (min-width: 576px) {
  .img-car {
    width: 400px;
  }

  .img-woman {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  .custom-card {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .img-car {
    width: 400px;
  }

  .img-woman {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  .btn {
    width: 200px;
  }

  .navbar-nav .btn {
    width: 100px;
  }

  .custom-card {
    width: 48%;
  }
}

@media only screen and (min-width: 992px) {
  .img-car {
    width: 600px;
  }

  .img-woman {
    visibility: visible;
    width: 400px;
    height: 300px;
  }

  .btn {
    width: 250px;
  }

  .navbar-nav .btn {
    width: 100px;
  }

  .custom-card {
    width: 23.5%;
  }
}

@media only screen and (min-width: 1200px) {
  .img-car {
    width: 1000px;
  }

  .img-woman {
    visibility: visible;
    width: 600px;
    height: 500px;
  }

  .btn {
    width: 250px;
  }

  .navbar-nav .btn {
    width: 100px;
  }

  .custom-card {
    width: 23.5%;
  }
}